@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'Conv_notosanscjktcbold';
	src: url('../fonts/notosanscjktcbold.eot');
	src: url('../fonts/notosanscjktcbold.woff') format('woff'), url('../fonts/notosanscjktcbold.ttf') format('truetype'), url('../fonts/notosanscjktcbold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*================================ Start Header CSS =========================*/
body{ font-family:微軟正黑體 !important;}
.header_bg {display: inline-block;float: left;width: 100%; }
.menu {display: inline-block;float: left;width: 100%;margin: 5px 0 10px;}
.logo {
  display: inline-block;
  float: left;
  margin: 5px 0 10px;
  position: relative;
  width: 100%;
  z-index: 9999;
}
.logo img{ width:100%;}
.menu .navbar-default {background-color: rgba(0, 0, 0, 0);border: 0 none;}
.menu .navbar { margin-bottom:0;}
.menu .container-fluid, .menu .navbar-collapse{ padding:0;}
.menu .navbar-default .navbar-collapse, .menu .navbar-default .navbar-form{ border:0;}
.mob_social_data{ display:none;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #0374bd;
}
.menu .navbar-default .navbar-nav > li > a {
  border-right: 1px solid #dbe5f5;
  color: #0374bd;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
}
.menu .navbar-default .navbar-nav > li > a:hover{ color:#8bb212;}
.menu .navbar-nav > li:last-child a{ padding-right:0; border:0;}
.menu .navbar-nav > li{ margin:10px 0 5px;}
.social_data {
  border-left: 2px solid #bccfed;
  display: inline-block;
  float: left;
  width: 100%; padding: 8px 0;
}
.left_soc {
    float: left;
    text-align: center;
    width: 40%;
}
.right_soc {
    float: left;
    text-align: center;
    width: 60%;
}
.right_soc img {
    padding-top: 10px;
}
.social_data h4 {
    font-size: 15px;
    margin: 5px 0;
}
.social_data a{ text-decoration:none; color:#000;}
.social_data a:hover{ color:#0374bd;}
.hover_img {
    display: none;
}
.right_soc a:hover .hover_img {
    display: block;
}
.right_soc a:hover .img_sm{ display:none;}
/*================================ End Header CSS =========================*/


.slider_data {
  display: inline-block;
  float: left;
  width: 100%; position:relative;
}
.slider_data img{ width:100%; float:left;}
.btn_data {
  background-color: #92c43e;
  border-radius: 2px;
  position: absolute;
  right: 60px;
  text-align: center;
  top: 25px;
  width: 125px; background:url(../img/img.png) no-repeat bottom center; height:50px; background-size:100% 100%;
}
.btn_data .btn-success {
  background-color: rgba(0, 0, 0, 0);
  border: 0 none;
  color: #ffffff;
  font-size: 18px;
  margin: 3px;
}
.btn_data .btn-success:hover{ background-color: #92c43e;}
.contant_bg{ width:100%; display:inline-block; float:left; background:url(../img/con_bg.png) no-repeat left top; background-size:100% 100%; padding:30px 0;}
.con_text{ width:100%; display:inline-block; float:left;}
.con_text h1 {
  color: #000000;
  display: inline-block;
  font-size: 36px;
  font-weight: bold;
  margin: 10px 0 20px;
  text-align: center;
  width: 100%;
}
.con_text p {
    font-size: 18px;
    line-height: 28px;
}
.con_text ul{ width:100%; float:left; margin-top:20px;}
.con_text li {
    display: inline-block;
    float: left;
    text-align: center;
    width: 50%;
}
.left_img_data {
  float: left;
  text-align: right;
  width: 100%;
}
.left_img_data img {
  margin-right: -35px;
}
.mob_social_data a{ text-decoration:none;}
.contan_info {
  display: inline-block;
  float: left;
  width: 100%; position:relative;
}
.contan_info > img {
    float: left;
    width: 100%;
}
.about_data {
    position: absolute;
    top: 100px;
    width: 100%;
}
.contan_info_text {
  margin: 0 auto;
  width: 500px;
}
.contan_info_text h2 {
    font-size: 39px;
    margin-bottom: 20px;}
.contan_info_text p{ font-size:18px; margin-bottom:10px; line-height:28px;}
.contan_info_text .form-control {
  background-color: #dedede;
  background-image: none;
  border: 1px solid #dedede;
  border-radius: 4px;
  box-shadow: none;
  color: #000;
  display: block;
  font-size: 18px;
  height: 50px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 315px;
}
.contan_info_text li {
  display: inline-block;
  float: left;
  text-align: center;
  width: 50%;
}
.contan_info_text > ul {
    display: inline-block;
    width: 100%;
}
.contan_info_text .alert-danger {
    background-color: #bcd879;
    border-color: #bcd879; font-size:24px;
    color: #000000; margin-top:25px; width:100%; display:inline-block;
}
.contan_info_text .alert-danger  p {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 5px;
}
.contan_info_text .glyphicon.glyphicon-exclamation-sign {
  float: left;
  width: 7%;
}
.contan_info_text .text{ width:93%; float:left;}
.apple_baby .form-control{ width:100%;}
.male_baby .btn-success {
    background-color: #dedede;
    border-color: #dedede;
    color: #000000;
    height: 50px;
    width: 100%; font-size:18px;
}
.male_baby .btn-success:hover{ background-color:#d1f47f;}
.contan_info_text.apple_baby {
  width: 600px;
}
.upload_btn img {
    width: 110px !important;
}
.up_hover_btn {
    display: none;
}
.upload_btn a:hover .up_hover_btn{ display:block;}
.upload_btn a:hover .up_btn{ display:none;}
.error_data {
    color: #0174c3;
    font-size: 15px !important;
}
.checkbox.checkbox-warning {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.preview_story {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.preview_story img{ width:200px !important;}
.preview_story_hover_btn{ display:none;}
.preview_story a:hover .preview_story_hover_btn{ display:block;}
.preview_story a:hover .preview_story_btn{ display:none;}
.apple_baby_img {
  border-top: 1px dotted #dadada;
  display: inline-block;
  padding-top: 20px;
  width: 100%;
}
.refile_hover_btn, .story_hover_btn{ display:none;}
.refile a:hover .refile_hover_btn{ display:block;}
.refile a:hover .refile_btn{ display:none;}
.story a:hover .story_hover_btn{ display:block;}
.story a:hover .story_btn{ display:none;}
.file_data {
  display: inline-block;
  float: left;
  margin-top: 60px;
  width: 100%;
}
.registration_data li{ width:100%; float:left; text-align:left; font-size:18px;}
.registration_data span {
    float: left;
    width: 18%; color:#0372ba;
}
.registration_data p{ width:82%; float:left;}
.registration_data {
  display: inline-block;
  float: left;
  margin-top: 30px;
  width: 100%;
}
.more_data_hoverbtn, .receive_coupons_hover{ display:none;}
.more_data a:hover .more_data_hoverbtn{ display:block;}
.more_data a:hover .more_data_btn{ display:none;}
.receive_coupons a:hover .receive_coupons_hover{ display:block;}
.receive_coupons a:hover .receive_coupons_btn{ display:none;}

.coupons_info{ width:350px; margin:0 auto;}
.coupons_title {
  background-color: #f1edd7;
  border-radius: 20px 20px 0 0;
  box-shadow: 1px -5px 7px 1px rgba(0, 0, 0, 0.2) inset;
  display: inline-block;
  float: left;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}
.coupons_contant {
  background-color: #cae09a;
  display: inline-block;
  float: left;
  padding: 10px;
  width: 100%;
}
.coupons_title h3 {
    font-size: 39px;
}
.heading {
  display: inline-block;
  float: left;
  vertical-align: middle;
  width: 100%;
}
.heading > span {
    margin-left: 5px;
    padding-top: 10px;
    vertical-align: middle;
}
.heading > img {
    float: left;
}
.coup_text li {
  display: inline-block;
  float: left;
  line-height: 22px;
  width: 100%;
}
.coup_text.operation img {
  width: 20px;
}
.about_data.coupons_data {
  top: 0;
}
b {
    font-weight: bold;
}
.coupons_btn > button {
  border: 0 none;
  float: left;
  padding: 0;
  width: 100%;
}
.coupons_btn img {
    width: 100%;
}
.textare_data {
  background-color: #dedede;
  border-radius: 4px;
  display: inline-block;
  padding: 10px;
  width: 100%;
}
.input_data{  background-color: #dedede;
  border-radius: 4px;
  display: inline-block;
  padding: 10px;
  width: 50%;
}
.product_heading {
  display: inline-block;
  float: left;
  margin: 30px 0;
  width: 100%;
}
.product_heading > img {
  float: left;
}
.head_img {
    float: left;
    width: 15%;
}
.product_heading > span {
  color: #0174c3;
  float: left;
  font-size: 28px;
  line-height: 32px;
  padding-top: 6px;
  width: 85%;
}
.product_contant {
  display: inline-block;
  float: left;
  width: 100%; position:relative;
}
.product_left {
    float: left;
    width: 40%;
}
.arrow {
    position: absolute;
    right: 0; top:30px;
}
.product_right {
    float: left;
    width: 60%;
}
.product_right > p {
  font-size: 14px;
  margin-bottom: 10px;
  position: relative;
  top: 135px;
}
.product_center_data .product_contant > p {
    font-size: 18px;
    line-height: 22px;
}
.product_btn {
  display: inline-block;
  margin: 25px 0;
  width: 100%;
}
.product_contant li {
  display: inline-block;
  font-size: 15px;
  line-height: 24px;
  width: 100%;
}
.product_contant li span{ width:50%; float:left;}
.product_contant a {
    text-decoration: none;
}
.product_right_contant {
    background-color: #dde5eb;
    display: inline-block;
    float: left;
    width: 100%;
}
.product_right_contant li {
  display: inline-block;
  float: left;
  font-size: 13px;
  line-height: 18px;
  padding: 5px 0;
  width: 100%;
}
.data_no {
    float: left;
    text-align: center;
    width: 5%;
}
.data_con {
    float: left;
    width: 95%;
}
.data_name {
    float: left;
    width: 40%;
}
.data_id {
    float: left;
    width: 60%;
}
.product_right_contant li:nth-child(2n) {
    background-color: #e3e2e2;
}
.products_detals{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+30,e7e7e7+85,e7e7e7+91,dedede+100,cecece+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 30%, #e7e7e7 85%, #e7e7e7 91%, #dedede 100%, #cecece 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#ffffff), color-stop(85%,#e7e7e7), color-stop(91%,#e7e7e7), color-stop(100%,#dedede), color-stop(100%,#cecece)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 30%,#e7e7e7 85%,#e7e7e7 91%,#dedede 100%,#cecece 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 30%,#e7e7e7 85%,#e7e7e7 91%,#dedede 100%,#cecece 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 30%,#e7e7e7 85%,#e7e7e7 91%,#dedede 100%,#cecece 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 30%,#e7e7e7 85%,#e7e7e7 91%,#dedede 100%,#cecece 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */}

.mobail_slider {
    display: none;
}
.btn_hover, .btn_img_hover{ display:none;}
.btn2 a:hover .btn_hover{ display:block}
.btn2 a:hover .btnimg{ display:none;}
.btn3 a:hover .btn_img_hover{ display:block;}
.btn3 a:hover .btn_img{ display:none;}
#input-2{
  background-color: rgba(0, 0, 0, 0);
  border: 0 none rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0) !important;
  height: 52px;
  opacity: 0;
  position: absolute;
  width: auto;
}
.wapper{ width:980px; margin:0 auto;}
.serch_box {
    margin: 20px auto 0;
    width: 50%;
}
.serch_box .navbar-left{ float:none !important;}
.serch_btn a:hover .serch_botn_hover{ display:block;}
.serch_botn_hover{ display:none;}
.serch_btn a:hover .serch_botn{ display:none;}
.serch_btn {
  float: left;
  margin-left: 15px;
}
.serch_box .form-group {
  display: inline-block;
  float: left;
  margin-top: 10px;
  text-align: center;
  width: auto;
}
.tabs_data {
  margin: 0 auto;
  width: 70%;
}
.tab_right {
  float: left;
  width: 50%;margin-top:20px;
}
.tab_left {
  float: left;
  width: 50%; margin-top:20px;
}
.tab_left li, .tab_right li {
  display: inline-block;
  padding: 0 15px;
}
.tab_left a, .tab_right a{ color:#686868; font-size:18px;}
.tab_left a:hover, .tab_right a:hover{ color:#93c321; text-decoration:none;}
.tab_left li:first-child, .tab_right li:first-child{ border-right:1px solid #000;}
.tab_left li:first-child a, .tab_right li:first-child a{ font-weight:bold; color:#686868;}
.tab_left li:first-child a:hover, .tab_right li:first-child a:hover{ color:#686868;}
.lost_contant {
  display: inline-block;
  float: left;
  margin-top: 40px;
  width: 100%;
}
.list_data{ background:rgba(0, 0, 0, 0) linear-gradient(to bottom, #ffffff 30%, #e7e7e7 85%, #e7e7e7 91%, #dedede 100%, #cecece 100%) repeat scroll 0 0;}
.lost_contant li {
 background:url(../img/boder.png) no-repeat 50px bottom;
  display: inline-block;
  float: left;
  padding-bottom: 20px;
  width: 100%;
}
.list_img {
  float: left;
  width: 35%;
}
.list_text {
  float: left;
  width: 65%;
}
.list_text h3 {
  color: #5b5b5b;
  font-size: 18px;
  font-weight: 600;
  margin: 25px 0 15px;
}
.list_text p {
  color: #5b5b5b;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 20px;
}
.list_bottom {
  display: inline-block;
  float: left;
  margin-top: 20px;
  width: 100%;
}
.list_bottom_left {
  float: left;
  width: 50%;
}
.list_bottom_right {
  float: left;
  text-align: right;
  width: 50%;
}
.list_hover_btn{ display:none;}
.list_bottom_right a:hover .list_hover_btn{ display:block;}
.list_bottom_right a:hover .list_btn{ display:none;}
.list_bottom_left > a {
  font-size: 24px;
}
.pagination_data {
    display: inline-block;
    text-align: center;
    width: 100%;
}
.pagination_data .pagination-lg > li > a{ margin:0 2px; background-color:#cac9c9; color:#FFF;padding: 5px 14px;border-radius: 6px;}
.pagination.pagination-lg > li:first-child a {
    background-color: rgba(0, 0, 0, 0);
    border: 0 none;
}
.pagination.pagination-lg > li:last-child a{background-color: rgba(0, 0, 0, 0);
    border: 0 none;}
.pagination.pagination-lg a:hover{ background-color:#0174c3;}
.bottom_bg {
    display: inline-block;
    float: left;
    width: 100%;
}
.bottom_bg > img {
    margin-top: -150px;
    width: 100%;
}
.contan_info.apple_data.a08 .small, .contan_info.apple_data.a08 .bottom_bg { display:none;}
.contan_info.a02 .small, .contan_info.a02 .bottom_bg { display:none;}
.contan_info.a03 .small, .contan_info.a03 .bottom_bg { display:none;}
.contan_info.a07 .small, .contan_info.a07 .bottom_bg { display:none;}

.contact_data {
  display: inline-block;
  float: left;
  margin: 30px 0;
  width: 100%;
}
.contact_data li {
    display: inline-block;
    float: left;
    margin-bottom: 30px;
    width: 100%;
}
.contact_data li > img {
    float: left;
    margin-right: 10px;
}
.contact_data li > p {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
}
.sub_data {
    display: inline-block;
    float: left;
    margin-top: 20px;
    padding-left: 25px;
    width: 100%;
}
.sub_data > li {
  margin-bottom: 8px;
}
.sab_left {
  background-color: #93c321;
  border-radius: 50%;
  color: #ffffff;
  float: left;
  font-weight: bold;
  height: 45px;
  padding: 9px 0 0;
  text-align: center;
  width: 5%;
}
.sub_right {
  float: left;
  margin-top: 14px;
  padding-left: 10px;
  width: 95%;
}
.sub_con {
  display: inline-block;
  float: left;
  margin-top: 20px;
  padding-left: 20px;
  width: 100%;
}
.sub_con h3 {
  color: #93c321;
  font-size: 18px;
  margin-bottom: 10px;
}
.sub_con ul{ margin-bottom:15px; width:100%; float:left;}
.sub_con li{ margin-bottom:5px;}
.sub_con li > span {
    float: left;
    font-weight: bold;
}
.sub_con h3 span {
  color: #000000;
  font-size: 15px;
  padding-bottom: 12px;
  text-decoration: underline;
}
.pro_img {
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}
.header_bg
{
  background: rgba(255,255,255,0.7) none repeat scroll 0 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
	 width:100%;
}
.contan_info{
 margin-top: 76px;
}
.navbar-toggle .icon-bar{ width: 15px; }
.Caution_data {
    display: inline-block;
    float: left;
    width: 100%;
}
.click {
    position: relative;
    right: -130px;
    top: -40px;
}
.Caution_contant {
    padding-left: 40px;
    width: 100%;
}
.Caution_contant li{ margin-bottom:5px;}
.martop {
    margin-top: 78px;
}
.Caution_contant li b{ width:3%; float:left;}
.Caution_contant li p{ width:97%; float:left;}

@media screen and (max-width:1200px){
.menu .navbar-default .navbar-nav > li > a{font-size: 14px;
    padding: 5px 6px;}
.social_data h4{ font-size:12px;}
.left_img_data img {
  margin-right: -20px;
  width: 100%;
}
.con_text img {
    width: 85%;
}
.about_data{ top:30px;}
.contan_info_text {
    margin: 0 auto;
    width: 430px;
}
.contan_info_text img {
  width: 90%;
}
.wapper{ width:100%;}
}

@media screen and (max-width:991px){
.container {
    width: 100%;
}
.list_img > img {
    width: 100%;
}
.list_text{ padding-left:15px;}
}

@media screen and (max-width:979px){
.menu .navbar-nav > li {
    margin: 0 0 5px;
}
.menu .navbar-default .navbar-nav > li > a{ font-size:11px;}
.social_data img {
    height: 20px;
}
.right_soc{ width:70%;}
.left_soc{width:30%;}
.social_data h4 {
    font-size: 11px;
}
.social_data{ padding:5px 0;}
.menu{margin:4px 0 0;}
.con_text h1{ font-size:24px;}
.con_text p{ font-size:14px;}
}

@media screen and (max-width:799px){
	
.menu .navbar-default .navbar-nav > li > a{ font-size:10px;}
.social_data h4 {
  font-size: 10px;
  margin: 0;
}
.navbar{ min-height:auto; }
}

@media screen and (max-width:767px){
.contan_info { margin-top: 71px; }

.contan_info.apple_data.a08 .small, .contan_info.apple_data.a08 .bottom_bg { display:block;}
.contan_info.apple_data.a08 .full_wi{ display:none;}
.contan_info.a02 .small, .contan_info.a02 .bottom_bg { display:block;}
.contan_info.a02 .full_wi{ display:none;}
.contan_info.a02 > img {
    min-height: 615px;
}
.contan_info.a03 .small, .contan_info.a03 .bottom_bg { display:block;}
.contan_info.a03 .full_wi{ display:none;}
.contan_info.a03 > img {
    min-height: 615px;
}
.contan_info.a07 .small, .contan_info.a07 .bottom_bg { display:block;}
.contan_info.a07 .full_wi{ display:none;}
.contan_info.a07 > img {
    min-height: 615px;
}


.social_data{ display:none;}
.menu {
    margin: -60px 0 0;
}
.menu .navbar-default .navbar-nav > li > a {
    border-bottom: 1px solid #c7c7c9;
    font-size: 16px;
    font-weight: bold;
}
.navbar-nav {
    margin: 0; background-color:#E1E1E1; padding-top:10px; margin-top:10px;
}
.menu .navbar-nav > li {
    margin: 0 0 5px;
   padding: 0 15px;
    text-align: left;
}
.mob_social_data {
    background-color: #e1e1e1;
    display: inline-block;
    float: left;
    padding: 10px 0;
    width: 100%;
}
.right_soc {
    background-color: #c7c7c9;
    padding: 15px 0;
    width: 50%; border-left:1px solid #FFF;
}
.left_soc {
    width: 50%; background-color: #c7c7c9;
    padding: 15px 0;
}
.left_img_data img{ margin-right:0;}
.right_img_data {
  display: inline-block;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}
.contan_info.apple_data > img {
  min-height: 1110px;
}
.contan_info.apple_data.a07 > img{ min-height:630px;}
.contan_info.apple_data.a08 > img {
    min-height: 850px;
}
.mobail_slider {
    display: block;
}
.slider{ display:none;}
.btn_data{ bottom:-25px;top: inherit;}
.navbar-default .navbar-toggle {
    border-color: #bac20a;
    border-radius: 50%;
    height: 37px;
	width: 37px;
}
.glyphicon.glyphicon-remove{ color:#bac20a;}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #bac20a;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{ background-color:#FFF;}
.logo img {
    width: 180px;
}
.story img{ height:85px;}
.tabs_data{ width:100%;}
.list_bottom_right img{ width:100%;}
}
@media screen and (max-width:639px){
.contan_info > img{ height:500px;}
.contan_info_text.apple_baby {
  padding: 0 15px;
  width: 100%;
}
.pd15 input{ width:100% !important;}
.registration_data li span{ width:23%;}
.registration_data li p{ width:77%;}
.story img{ height:65px;}
.serch_box {
    display: inline-block;
    margin: 20px auto 0;
    width: 100%;
}
.tab_left, .tab_right{ width:100%;}
.contan_info.apple_data.a05 > img {
    min-height: 1160px;
}
.list_img {
    float: left;
    width: 80%;
}
.list_text {
    float: left;
    width: 100%;
}

}

@media screen and (max-width:479px){
.menu {
    margin: -60px 0 0;
}
.mob_social_data h4 {
    font-size: 14px;
    margin: 3px 0;
}
.btn_data{ right:20px;}
.contan_info_text {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
.contan_info_text .form-control{ width:100%;}
.contan_info_text .glyphicon.glyphicon-exclamation-sign{ width:11%;}
.contan_info_text .text{ width:89%;}
.contan_info > img {
    height: 535px;
}
.registration_data li span{ width:35%;}
.registration_data li p{ width:65%;}
.coupons_info{ width:300px;}
.input_data{ width:100%;}
.product_left > img {
    width: 100%;
}
.refile img{ height:43px;}
.story img{ height:43px;}
.contan_info_text h2 {
  font-size: 20px;
  font-weight: bold;
}
.contan_info_text p {
    font-size: 14px;
    line-height: 20px;}
#comment{ height:100px !important;}
.male_baby .btn-success{ height:40px;}
.contan_info.apple_data.a07 > img {
    min-height: 550px;
}
.contan_info.apple_data.a08 > img {
    min-height: 890px;
}
.contan_info.apple_data.a05 > img {
    min-height: 940px;
}
.contan_info.apple_data.a04 > img {
    min-height: 930px;
}
}